<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tolstoy.zurichat">

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZuriChat">
        <activity
            android:name=".ui.emailverified.EmailVerifiedActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.ChannelChatActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.DMActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.HomePageActivity"
            android:exported="true" />
        <activity
            android:name=".ui.otp.OTP_Page"
            android:exported="true" />
        <activity
            android:name=".ui.settings.ManageStorageActivity"
            android:exported="true"
            android:label="@string/string_manage_storage"
            android:parentActivityName=".ui.settings.ManageStorageActivity"
            android:theme="@style/Theme.ZuriChat.Settings" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.ZuriChat.Settings" />
        <activity
            android:name=".ui.verifyemail.VerifyEmailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>